.trm-btn {
	font-family: inherit;
	display: inline-block;
	padding: 0 2em;
	line-height: 2.6em;
	margin: 20px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	color: var(--primary);
	border: 2px solid var(--primary);
	z-index: 1;
	font-size: 14px;
	border-radius: 3em;
	box-shadow: 2px 2px 14px #00000020;
	.transition-mixin(all,0.7s);

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		background: var(--primary);
		height: 150px;
		width: 200px;
		border-radius: 50%;
		top: 100%;
		left: 100%;
		transition: all 0.7s;
	}

	&:active {
		border-color: var(--primary-70);
		&:before {
			background: var(--primary-70);
		}
	}

	&:hover {
		color: #fff;
		box-shadow: 6px 5px 14px #00000040;

		&:before {
			top: -30px;
			left: -30px;
		}
	}

	&:focus {
		outline: inherit;
	}
}
