.trm-card {
	background-color: var(--theme-bg-color, #fcfcfe);
	position: relative;
	border-radius: var(--card-border-radius, 10px);
	margin-bottom: var(--card-bottom-card, 40px);
	padding: var(--card-padding, 40px);
	box-shadow: var(--box-shadow2, 0 2px 4px -2px rgba(0, 0, 0, 0.15));

	.trm-icon {
		font-size: 22px;
		color: var(--theme-color, #00283a);
		margin-bottom: 20px;
	}
}

//

.trm-card-data {
	padding: 0;
	margin: 0;
	display: flex;

	li {
		list-style-type: none;
		padding-right: 20px;
		position: relative;
		opacity: 0.6;

		&:after {
			content: "•";
			position: absolute;
			top: 0;
			right: 6px;
			opacity: 0.5;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}
